################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/aspnetmvc5-azure/.vs/aspnetmvc5-azure/v15
