################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/aspnetmvc5-azure/.vs/aspnetmvc5-azure/v15
/aspnetmvc5-azure/aspnetmvc-webapp/bin
/aspnetmvc5-azure/aspnetmvc-webapp/obj/Debug
/aspnetmvc5-azure/packages
/aspnetmvc-webapp/bin
/.vs
/aspnetmvc-webapp/obj/Debug
/packages
/AspNetMvc5.DemoLib/obj/Debug
/AspNetMvc5.DemoLib/bin/Debug
/AspNetMvc5.DemoLib/obj/Release
/AspNetMvc5.DemoLib/bin/Release
/aspnetmvc-webapp/obj/Release
